In [11]:
import pandas as pd

In [12]:
NewsData = pd.read_json('../../A_Raw_Data/RawDataCrawlFromNews/All_news_from_the_edge_regarding_Palm_Oil.json')

In [13]:
#Check Missing Data in Raw News Data
NewsData.isnull().sum()

news_title      0
news_date       0
news_content    2
dtype: int64

In [14]:
NewsData.isna().sum()

news_title      0
news_date       0
news_content    2
dtype: int64

In [15]:
#Display Row with Null Value
NewsData[NewsData.isna().any(axis=1)]

,news_title,news_date,news_content
3336,"Palm oil may break support at 3,089 ringgit","Monday, 23 January 2017",NaN
4366,Ronser comes out with innovative palm oil wast...,"Friday, 8 April 2016",NaN

In [16]:
#Remove the entire row with null value found
NewsData.dropna(subset=['news_content'], inplace=True)

In [17]:
#Recheck whether the Data contains anymore null value
NewsData.isna().sum()

news_title      0
news_date       0
news_content    0
dtype: int64

In [22]:
NewsData['news_date_update'] = NewsData['news_date'].apply(lambda x: x.split(',')[1])

In [23]:
NewsData.head()

,news_title,news_date,news_content,news_date_update
0,"AirAsia X, Alliance, Berjaya Corp, CIMB, Desti...","Saturday, 29 February 2020","[ ... period, due to improved crude , palm, ,...",29 February 2020
1,Sime Darby Plantation: COVID-19 has dried up p...,"Friday, 28 February 2020","[ ... has resulted in demand for , palm, , oi...",28 February 2020
2,Commodities savaged in sell-off as coronavirus...,"Friday, 28 February 2020","[ ... events this week at the , oil, industry...",28 February 2020
3,TDM gets RM210m offer for two loss-making Indo...,"Friday, 28 February 2020","[ ... Melawi. RKA also has a , palm, , oil, ...",28 February 2020
4,"No planned divestment of MSM stake, says FGV","Friday, 28 February 2020","[ ... , as long as crude , palm, , oil, (CPO...",28 February 2020

In [24]:
#Remove the old Date column 'news_date'
NewsDataUpdate=NewsData.drop(['news_date'], axis=1)

In [25]:
NewsDataUpdate.head()

,news_title,news_content,news_date_update
0,"AirAsia X, Alliance, Berjaya Corp, CIMB, Desti...","[ ... period, due to improved crude , palm, ,...",29 February 2020
1,Sime Darby Plantation: COVID-19 has dried up p...,"[ ... has resulted in demand for , palm, , oi...",28 February 2020
2,Commodities savaged in sell-off as coronavirus...,"[ ... events this week at the , oil, industry...",28 February 2020
3,TDM gets RM210m offer for two loss-making Indo...,"[ ... Melawi. RKA also has a , palm, , oil, ...",28 February 2020
4,"No planned divestment of MSM stake, says FGV","[ ... , as long as crude , palm, , oil, (CPO...",28 February 2020

In [27]:
NewsDataUpdate.to_csv('../../B_Processed_Data/Processed_NewsData.csv',index=False)